
:root{
    --color-primario: rgba(212, 179, 243, 0.37);
}
body {
    background-color: rgba(222, 200, 243, 0.37);
    background-color:var(--color-primario);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    width: 500px;
    background-color: rgba(80, 48, 82, 0.363);
    margin: 0 auto;
}

div.form-group > label ,
div.form-group > input {
display: block;
margin-bottom: 12px ;
margin-top: 12px ;
text-align: center;
}

form > div.form-group:first-of-type > label,
form > div.form-group:first-of-type > input {
    padding-top: 7px;
}


input{
    padding: 6px 3px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #bb4fbb6c; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
    margin-top: 10px; 
}
button:hover {
    background-color: #643c5f; 

}
button,.submit-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px ;
}

.mensaje {
    display: none; 
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;  
    border: 1px solid #ddd;
    font-size: 16px;
}
#mostrar-mensaje:checked + #mensaje {
    display: block; 
    margin-top: 20px;
}
.mensaje{
    text-align: center;
    margin: auto 0;
}
.mostrar-mensaje{
    display: block;
    text-align: center;
    margin: auto 0;
}
.contenedor {
    text-align: center;
    margin: 20px 0;
}

input:invalid{
    border: 2px solid red;
    background-color: #f8d7da;
    color: #721c24;
}
input:valid{
    border: 2px solid green;
    background-color: #d4edda;
    color: #155724;
}
input[type=email] {
    border: 2px solid blue;
    background-color: #f3eaf0d8;
    color: #22645d;
}
    input:focus{
        border: 2px solid #4caf50; 
    outline: none;  
    }
    
    .contenedor p:only-of-type {
    color: blue; 
}
.contenedor p:first-of-type {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(49, 128, 59);     
}
nav {
background-color: #33293fce;
padding: 10px;
text-align: center;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin: 5px 15px;
}

nav a {
color: rgb(255, 255, 255);
text-decoration: none;
font-weight: arial;
transition: color 0.3s ease;
}

nav a:hover {
color: #92d3d8;
}
h2::before {
content: "⭐ ";
color: rgb(243, 225, 67);
font-size: 1.2em;
}
h2 {
text-align: center;
margin: 50px 0;
}
p::after {
content: " ____________________";
display: block;
margin: 5px 0;
color: #ddd;
font-size: 0.5em;
}

button {
position: relative;
border-radius: 5px;
}

button::after {
content: "";
position: absolute;
top: 5px;  
left: 5px; 
width: 100%;
height: 100%;
background: rgba(142, 115, 115, 0.3); 
border-radius: 5px; 
z-index: -1; 
}
blockquote {
font-style: italic;
margin: 20px auto;
padding: 10px 20px;
max-width: 400px;
background-color: #f4f4f4;
border-left: 5px solid var(--color-primario);
}

blockquote::before {
  content: "“"; /* comilla de apertura */
font-size: 2em;
color: #555;
margin-right: 5px;
}

blockquote::after {
content: "”"; /* comilla de cierre */
font-size: 2em;
color: #555;
margin-left: 5px;
}